.problem-section {
    padding: 75px 0;
    width: 100%;

    .problem-content {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;

        h2 {
            font-size: 48px;
            color: $color-one;
        }

        p {
            width: 85%;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

@include tablet {
    .problem-section {
        padding-bottom: 0;

        .problem-content p {
            width: 100%;
        }
    }
}