// Añadir todos los import de sus estilos aquí
@import './variables.scss';
@import '../styledComponents/navbar/navbar.scss';
@import '../styledComponents/heroSection/heroSection.scss';
@import '../styledComponents/logoSection/logoSection.scss';
@import '../styledComponents/problemSection/problemSection.scss';
@import '../styledComponents/causeSection/causeSection.scss';
@import '../styledComponents/fixProblemSection/fixProblemSection.scss';
@import '../styledComponents/fixProblemInnerSection1/fixProblemInnerSection1.scss';
@import '../styledComponents/fixProblemInnerSection2/fixProblemInnerSection2.scss';
@import '../styledComponents/testimonialSection/testimonialSection.scss';
@import '../styledComponents/benefitsSection/benefitsSection.scss';
@import '../styledComponents/contactSection/contactSection.scss';
@import '../styledComponents/footer/footer.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 30px;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    background: $color-four ;
    font-family: $font-one ;
    overflow-x: hidden;
    width: 100%;
}

main {
    overflow: hidden !important;
    width: 100% !important;
}

p,
li,
a {
    line-height: 1.5;
    color: $color-three;
}

h2 {
    line-height: 48px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    object-fit: contain;
}

form {
    display: flex;
    background: $color-four;
    border-radius: 100px;
    padding: 5px;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    box-shadow: 7px 7px 100px 0 rgba(129, 129, 172, 0.15);
    width: 62%;
    margin: 0 auto;
    margin-top: 35px;

    input {
        background: $color-four;
        font-size: 16px;
        font-family: $font-one;
        border: none;
        padding: 16px 0;
    }

    .typing-wrap {
        display: flex;
        align-items: center;
    }

    i {
        color: $color-three ;
        padding: 16px 10px 16px 30px;
    }

    #submit {
        padding: 16px 42px;
        background: $color-two;
        color: $color-four;
        border-radius: 100px;
    }

    #submit:hover {
        background: $color-one;
    }

    input[type="button"] {
        cursor: pointer;
    }
}

.bg-gradient {
    position: absolute;
    left: -104%;
    top: auto;
    right: auto;
    bottom: -37%;
    z-index: -1;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0%;
    border-radius: 100%;
    background-color: transparent;

    img {
        object-fit: contain
    }
}

.bg-wave {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 13%;
    z-index: -1;
}

.typing-wrap {
    display: flex;
    align-items: center;
}

.wave-img {
    opacity: 0;
}

@include tablet {
    .container {
        padding: 0 25px;
    }

    h2 {
        font-size: 36px !important;
        width: 100%;
    }

    form {
        flex-direction: column;
        gap: 20px;
        background: transparent;
        height: 100%;
        box-shadow: unset;
        width: 100%;

        input {
            background: transparent;
            padding: 0;
            width: 100%;
        }

        i {
            padding: 0 15px 0 0;
        }

        .typing-wrap {
            padding: 16px 22px;
            background: $color-four;
            border-radius: 100px;
            box-shadow: 7px 7px 100px 0 rgba(129, 129, 172, 0.15);
            width: 100%;
        }
    }
}

@include medium {

    .container {
        padding: 0 30px;
    }


    h2 {
        width: 80%;
        margin: 0 auto;
    }

    .benefits-section h2 {
        width: 100%;
    }

}