.hero-section {
    padding: 100px 0 80px 0;
    position: relative;
    width: 100%;

    .hero-content {
        max-width: 800px;
        margin: 0 auto;
    }

    h1 {
        color: $color-one ;
        font-size: 72px;
        text-align: center;
    }

    p {
        color: $color-three ;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
        font-size: 18px;
    }

    .hero-features-wrap {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        margin-top: 35px;
    }

    .hero-feature-card {
        display: flex;
        gap: 10px;
        align-items: center;

        p {
            margin: 0;
            width: 100%;
            font-size: 14px;
        }

        .check-icon {
            width: 20px;
            height: 20px;
        }

        img {
            object-fit: contain;
        }
    }

    .laptop-wrapper {
        padding: 140px 0 75px 0;
        position: relative;

        .laptop {
            max-width: 1000px;
            margin: 0 auto;
            width: 80%;
        }

        .laptop-ig {
            position: absolute;
            left: 0%;
            top: 0%;
            right: auto;
            bottom: auto;
            display: flex;
            width: 80px;
            height: 80px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .laptop-tt {
            position: absolute;
            left: auto;
            top: auto;
            right: 0%;
            bottom: 53%;
            display: flex;
            width: 62px;
            height: 62px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .laptop-fb {
            position: absolute;
            left: 11%;
            top: auto;
            right: auto;
            bottom: 29%;
            display: flex;
            width: 60px;
            height: 60px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .hero-g1 {
        bottom: 20%;
    }

    .hero-g2 {
        left: auto;
        top: -6%;
        right: 0%;
        bottom: auto;
    }

    .hero-g3 {
        left: 31%;
        bottom: 32%;
    }

    .small-icon-form {
        position: relative;
        width: 20px;
        height: auto;
        top: 2px;
    }
}

.hero-wave-1 {
    left: -3%;
    bottom: 20%;
    top: auto;
}

@include desktop {
    .hero-g1 {
        bottom: 8%;
    }

    .hero-g2 {
        left: 222px;
    }

    .hero-g3 {
        left: auto;
        top: -51%;
        right: -33%;
        bottom: auto;
    }
}

@include medium {
    .hero-section h1 {
        font-size: 68px;
        padding: 0 10px;
    }
}


@include tablet {
    .hero-section {
        padding-top: 75px;

        h1 {
            font-size: 45px;
        }

        p {
            width: 100%;
        }

        .hero-features-wrap {
            width: 100%;
            flex-direction: column;

            .hero-feature-card p {
                text-align: left;
            }
        }

        .laptop-wrapper {
            margin-top: 60px;

            .laptop-ig,
            .laptop-tt,
            .laptop-fb {
                width: 40px;
                height: 40px;
            }
        }

    }
}